<content-for for="breadcrumb">
  <ul class="breadcrumb">
    <li class="active"><a href="#/">Home</a> / <a href="#/movie/list">List of Movies</a></li>
  </ul>
</content-for>

<content-for for="navbar-content">
  <li class="pull-right">
    <div>
      <div class="mat-slide-right pull-right">
        <form class="search-form form-inline pull-left" ng-submit="ctrl.listByTitle(ctrl.movieTitle)">
          <div class="form-group">
            <label class="sr-only" for="search-input">Search</label>
            <input type="text" ng-model="ctrl.movieTitle" class="form-control" id="search-input" placeholder="Search" autofocus=""> </div>
        </form>
      </div>
      <div class="pull-right">
        <button class="btn btn-sm btn-link pull-left withoutripple" ng-click="ctrl.listByTitle(ctrl.movieTitle)"> <i class="md md-search f20"></i> </button>
      </div>
    </div>
  </li>
</content-for>

<section class="lists white well">

  <div class="row">
    <div class="col-md-12" id="mensagens">
      <alert ng-repeat="alert in ctrl.alerts" type="{{alert.type}}" class="ns-alert"
             close="ctrl.closeMessage($index)">
        {{alert.msg}}
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><i class="md md-camera"></i> List all movies</h1>

        <p class="lead"> Manage your favorite movie</p>
      </div>
    </div>
  </div>

  <div class="row m-t-10">
    <div class="col-md-9">
      <div class="card">
        <div class="table-responsive">
          <table st-table="result" st-safe-src="ctrl.movies" class="table table-striped">
            <thead>
            <tr>
              <th st-sort="title">Title</th>
              <th st-sort="originalTitle">Original Title</th>
              <th st-sort="year">Year</th>
              <th st-sort="rating">Rating</th>
              <th>Duration</th>
              <th st-sort="releasedDate">Released</th>
              <th>imdbID</th>
              <th st-sort="imdbRating">Imdb Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr st-select-row="movie" ng-click="ctrl.rowSelected(movie)" ng-repeat="movie in result">
              <td>{{ movie.title }}</td>
              <td>{{ movie.originalTitle }}</td>
              <td>{{ movie.year }}</td>
              <td>{{ movie.rating }}</td>
              <td>{{ movie.duration }}</td>
              <td>{{ movie.releasedDate | date:'dd/MM/yyyy'}}</td>
              <td>{{ movie.imdbID }}</td>
              <td>{{ movie.imdbRating }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="8" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" ng-show="ctrl.movie.selected.title !== undefined">
        <div class="card-image">
          <img ng-src="{{ctrl.movie.selected.poster}}">
          <span class="card-title">{{ctrl.movie.selected.title}}</span>
        </div>
        <div class="card-content">
          <p>{{ctrl.movie.selected.plot}}</p>
        </div>
      </div>
    </div>
  </div>

</section>