<div class="row">
  <div class="col-md-12" id="mensagens">
    <alert ng-repeat="alert in ctrl.alerts" type="{{alert.type}}" class="ns-alert"
           close="ctrl.closeMessage($index)">
      {{alert.msg}}
    </alert>
  </div>
</div>

<div class="white well">
  <div class="row">
    <div class="p-l-5">
      <div class="col-md-9" style="font-size: 1.5em;">
        <strong>
          <i class="md md-camera"></i>
          <span ng-if="!ctrl.showSerieDetails()">List of series</span>
          <span ng-if="ctrl.showSerieDetails()"><b>{{ctrl.serie.selected.title}}</b> - Season {{ctrl.serie.selected.season}} of {{ctrl.serie.selected.totalSeasons}}</span>
        </strong>
      </div>
      <div class="col-md-3">
        <ui-select ng-model="ctrl.serie.selected"
                   on-select="ctrl.getByTitleAndSeason($select.selected.title, $select.selected.season)"
                   theme="bootstrap">
          <ui-select-match allow-clear="true" placeholder="Select or search a serie in the list...">
            {{$select.selected.title}} {{$select.selected.season}}
          </ui-select-match>
          <ui-select-choices repeat="serie in ctrl.seriesCombo | filter: $select.search">
            <span ng-bind-html="serie.title | highlight: $select.search"></span>
            <small ng-bind-html="serie.season | highlight: $select.search"></small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>

<div class="white well col-md-12">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table st-table="result" st-safe-src="ctrl.serie.episodes" class="table table-striped">
          <thead>
          <tr>
            <th st-sort="number">#</th>
            <th st-sort="title">Title</th>
            <th st-sort="released">Released</th>
            <th st-sort="rating">Rating</th>
            <th>Imdb Rating</th>
            <th>Imdb</th>
            <th st-sort="watched">Watched</th>

          </tr>
          </thead>
          <tbody>
          <tr st-select-row="episode" ng-click="ctrl.rowSelected(episode)" ng-repeat="episode in result">
            <td>{{ episode.number }}</td>
            <td>{{ episode.title }}</td>
            <td>{{ episode.released | date:'dd/MM/yyyy'}}</td>
            <td>{{ episode.rating }}</td>
            <td>{{ episode.imdbRating }}</td>
            <td>{{ episode.imdbID }}</td>
            <td>{{ episode.watched }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>