<content-for for="breadcrumb">
  <ul class="breadcrumb">
    <li class="active"><a href="#/">Home</a> / <a href="#/serie/list">List of Series</a></li>
  </ul>
</content-for>

<content-for for="navbar-content"></content-for>

<section class="lists white well">

  <div class="row">
    <div class="col-md-12" id="mensagens">
      <alert ng-repeat="alert in ctrl.alerts" type="{{alert.type}}" class="ns-alert"
             close="ctrl.closeMessage($index)">
        {{alert.msg}}
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="page-header">
        <h1><i class="md md-camera"></i> List all series</h1>

        <p class="lead"> Manage your favorite serie</p>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-sm btn-link pull-left withoutripple" ng-click="ctrl.listByTitle(ctrl.movieTitle)"><i
          class="md md-search f20"></i></button>
      <form class="search-form form-inline pull-left" ng-submit="ctrl.listByTitle(ctrl.movieTitle)">
        <div class="form-group">
          <label class="sr-only" for="search-input">Search</label>
          <input type="text" ng-model="ctrl.movieTitle" class="form-control" id="search-input" placeholder="Search"
                 autofocus=""></div>
      </form>
    </div>
  </div>

  <div class="row m-t-10">
    <div ng-repeat="movie in ctrl.movies track by movie.code" ng-if="$index % 6 == 0" class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{movie.poster}}">
              <span class="card-title">{{movie.title}}</span>
            </div>
            <div class="card-content">
              <p>{{movie.plot}}</p>
            </div>
            <div class="card-action clearfix">
              <a href="" class="btn btn-link btn-icon"><i class="md md-favorite red-text"></i>{{movie.rating}}</a>
              <a href="" class="btn btn-link btn-icon"><i class="md md-refresh black-text"></i>{{movie.imdbRating}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-2" ng-if="ctrl.movies.length > ($index + 1)">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{ctrl.movies[$index + 1].poster}}">
              <span class="card-title">{{ctrl.movies[$index + 1].title}}</span>
            </div>
            <div class="card-content">
              <p>{{ctrl.movies[$index + 1].plot}}</p>
            </div>
            <div class="card-action clearfix">
              <a href="" class="btn btn-link btn-icon"><i class="md md-favorite red-text"></i>{{ctrl.movies[$index +
                1].rating}}</a>
              <a href="" class="btn btn-link btn-icon"><i class="md md-refresh black-text"></i>{{ctrl.movies[$index +
                1].imdbRating}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-2" ng-if="ctrl.movies.length > ($index + 2)">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{ctrl.movies[$index + 2].poster}}">
              <span class="card-title">{{ctrl.movies[$index + 2].title}}</span>
            </div>
            <div class="card-content">
              <p>{{ctrl.movies[$index + 2].plot}}</p>
            </div>
            <div class="card-action clearfix">
              <a href="" class="btn btn-link btn-icon"><i class="md md-favorite red-text"></i>{{ctrl.movies[$index +
                2].rating}}</a>
              <a href="" class="btn btn-link btn-icon"><i class="md md-refresh black-text"></i>{{ctrl.movies[$index +
                2].imdbRating}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-2" ng-if="ctrl.movies.length > ($index + 3)">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{ctrl.movies[$index + 3].poster}}">
              <span class="card-title">{{ctrl.movies[$index + 3].title}}</span>
            </div>
            <div class="card-content">
              <p>{{ctrl.movies[$index + 3].plot}}</p>
            </div>
            <div class="card-action clearfix">
              <a href="" class="btn btn-link btn-icon"><i class="md md-favorite red-text"></i>{{ctrl.movies[$index +
                3].rating}}</a>
              <a href="" class="btn btn-link btn-icon"><i class="md md-refresh black-text"></i>{{ctrl.movies[$index +
                3].imdbRating}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-2" ng-if="ctrl.movies.length > ($index + 4)">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{ctrl.movies[$index + 4].poster}}">
              <span class="card-title">{{ctrl.movies[$index + 4].title}}</span>
            </div>
            <div class="card-content">
              <p>{{ctrl.movies[$index + 4].plot}}</p>
            </div>
            <div class="card-action clearfix">
              <a href="" class="btn btn-link btn-icon"><i class="md md-favorite red-text"></i>{{ctrl.movies[$index +
                4].rating}}</a>
              <a href="" class="btn btn-link btn-icon"><i class="md md-refresh black-text"></i>{{ctrl.movies[$index +
                4].imdbRating}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-2" ng-if="ctrl.movies.length > ($index + 5)">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{ctrl.movies[$index + 5].poster}}">
              <span class="card-title">{{ctrl.movies[$index + 5].title}}</span>
            </div>
            <div class="card-content">
              <p>{{ctrl.movies[$index + 5].plot}}</p>
            </div>
            <div class="card-action clearfix">
              <a href="" class="btn btn-link btn-icon"><i class="md md-favorite red-text"></i>{{ctrl.movies[$index +
                5].rating}}</a>
              <a href="" class="btn btn-link btn-icon"><i class="md md-refresh black-text"></i>{{ctrl.movies[$index +
                5].imdbRating}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>